@using Task3.Models
@using Task3.Store.Models;

@model Task3.ViewModels.InventoryCreateViewModel

<h1>Creating Inventory in @Model.School.Name</h1>

<form asp-action="Create" asp-controller="Inventory" method="POST" enctype="multipart/form-data">
    <input type="hidden" asp-for="SchoolId" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" class="form-control" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <div class="form-row">
            <div class="col">
                <label asp-for="Amount"></label>
                <input asp-for="Amount" type="number" step="0.01" class="form-control" />
                <span class="text-danger" asp-validation-for="Amount"></span>
            </div>
            <div class="col">
                <label asp-for="MeasurementUnit"></label>
                <select class="form-control" asp-for="MeasurementUnit" asp-items="@Html.GetEnumSelectList<MeasurementUnit>()">
                    Measurement unit
                </select>
                <span class="text-danger" asp-validation-for="MeasurementUnit"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="SelectedTypeId"></label>
        <select class="form-control" asp-for="SelectedTypeId">
            @foreach (var item in Model.InventoryTypes)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="SelectedTypeId"></span>
    </div>

    <div class="form-group">
        <label asp-for="MeasurementUnit"></label>
        <select class="form-control" asp-for="MeasurementUnit" asp-items="@Html.GetEnumSelectList<MeasurementUnit>()">
            Measurement unit
        </select>
        <span class="text-danger" asp-validation-for="SelectedTypeId"></span>
    </div>

    <div class="form-group">
        <label asp-for="Analogous"></label>
        <input asp-for="Analogous" type="checkbox" class="form-control" />
        <span class="text-danger" asp-validation-for="Analogous"></span>
        <input asp-for="Analogous" type="checkbox" class="form-control" />
        <span class="text-danger" asp-validation-for="Analogous"></span>
    </div>

    <div class="flex-lg-row">
        <a asp-controller="School" asp-action="Details" asp-route-id="@Model.SchoolId" class="btn btn-secondary">< Back</a>
        <button class="btn btn-success" type="submit">Create Inventory</button>
    </div>
</form>