@model Task3.ViewModels.InventoryViewModel
@{
    ViewData["Title"] = "Forum Page";
}

<h1>@Model.Name in @Model.School.Name</h1>
<hr>
@Model.Amount @Model.MeasurementUnit 
@Model.Rented rented, @Model.Missing missing


