@model Task3.ViewModels.SchoolViewModel
@{
    ViewData["Title"] = "Forum Page";
}

<h1>@Model.Name at @Model.Location</h1>
<hr>
 @if (User.IsInRole("Admin") || User.Identity.Name == Model.Storekeeper.UserName)
        {
            <a asp-controller="Inventory" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-success mb-3">+ Create Inventory</a>
        }


@if (Model.Inventories.Any())
{ 
<table class="table table-hover">
    <thead class="w-100">
        <tr class="w-100">
            <th class="text-left" scope="col">
                Name
            </th>
            <th class="text-right" scope="col">
                Type
            </th>
            <th class="text-right" scope="col">
                Available
            </th>
            <th class="text-right" scope="col">
                Missing
            </th>
            <th class="text-right" scope="col">
                Rented
            </th>
            <th class="text-right" scope="col">
                Analogous
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th class="text-right" scope="col">
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Inventories)
        {
        <tr>
            <td class="text-left" scope="col">
                <div>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-controller="Inventory" asp-route-id="@item.Id">@item.Name</a>
                    }
                    else
                    {
                        @item.Name
                    }
                </div>
            </td>
            <td class="text-right" scope="col">
                @if (item.InventoryType != null)
                {
                    <a asp-action="Details" asp-controller="InventoryType" asp-route-id="@item.InventoryType.Id">@item.InventoryType.Name</a>
                }
            </td>
            <td class="text-right" scope="col">
                <div class="text-success">@(item.Amount-item.Missing-item.Rented) @item.MeasurementUnit</div>
            </td>
            <td class="text-right" scope="col">
                <div class="text-danger">@item.Missing @item.MeasurementUnit</div>
            </td>
            <td class="text-right" scope="col">
                <div class="text-warning">@item.Rented @item.MeasurementUnit</div>
            </td>
            <td class="text-center col-sm-1" scope="col">
                @if (item.Analogous)
                {
                    <div class="text-success">&#10003;</div>
                }
                else
                {
                    <div class="text-danger">&#10060;</div>
                }
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td class="text-center" scope="col">
                    <a asp-action="Delete" asp-controller="Inventory" asp-route-id="@item.Id"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash-fill" viewBox="0 0 16 16"><path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" /></svg></a>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
}
else
{
<div class="alert alert-info">
    No inventories created yet.
</div>
}


