@model Task3.ViewModels.EventViewModel
@{
    ViewData["Title"] = "Event";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Event">Events</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
    </ol>
</nav>

<hr>

<div>
    <table class="w-100">
        <tbody>
            <tr class="d-flex justify-content-between">
                <th>Date</th>
                <td>@(Model.StartTime.Date.ToString("d") + " - " + Model.EndTime.Date.ToString("d"))</td>
            </tr>
            <tr class="d-flex justify-content-between">
                <th>Location</th>
                <td>@Model.Location</td>
            </tr>
        </tbody>
    </table>
    <div class="mt-3">
        <a class="btn btn-secondary w-100" asp-action="Delete" asp-controller="Event" asp-route-id="@Model.Id">Rent inventory</a>
        <div class="d-flex justify-content-between mt-1 w-100">
            <a class="btn btn-primary w-25" asp-action="Edit" asp-controller="Event" asp-route-id="@Model.Id">Edit</a>
            <a class="btn btn-danger ml-2 w-25" asp-action="Delete" asp-controller="Event" asp-route-id="@Model.Id">Delete</a>
        </div>
    </div>
</div>
