@using Microsoft.AspNetCore.Identity;
@model List<Task3.ViewModels.EventViewModel>
@{
    ViewData["Title"] = "Events";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Events</li>
    </ol>
</nav>

<hr>
 @if (User.IsInRole("Mastermind"))
{
    <a asp-controller="Event" asp-action="Create" class="btn btn-success mb-3">+ Create an event</a>
}

@if (Model.Any())
{
    <table class="table table-hover">
        <thead class="w-100">
            <tr class="w-100">
                <th class="text-left" scope="col">
                    @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm }, new {@style="color:#000000"})
                </th>
                <th class="text-right" scope="col">
                    @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm }, new {@style="color:#000000"})
                </th>
                <th class="text-right" scope="col">
                    @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSortParm }, new {@style="color:#000000"})
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td class="text-left" scope="col">
                    <a class="font-weight-bold" asp-action="Details" asp-controller="Event" asp-route-id="@item.Id">@item.Name</a>
                </td>
                <td class="text-right" scope="col">
                    @(item.StartTime.Date.ToString("d") + " - " + item.EndTime.Date.ToString("d"))
                </td>    
                <td class="text-right" scope="col">
                    @item.EventStatus.ToString()
                </td>   
            </tr>
            }
        </tbody>
    </table>
}

else
{
    <div class="alert alert-info">
        No events created yet.
    </div>
}

